<div class="single-buyer-container">
  <div>
    <p>نام:</p>
    <p><%= buyer.name %></p>
  </div>

  <div>
    <p>شماره تماس:</p>
    <p><%= buyer.number %></p>
  </div>

  <div>
    <p>چک ها:</p>
    <p>-</p>
  </div>

  <form action="/buyers/delete?id=<%= buyer.id %>" method="post">
    <button class="del-btn">حذف</button>
  </form>
</div>