<div class="single-buyer-container">
  <div>
    <p>عملیات: </p>
    <p><%= log.type %></p>
  </div>

  <div>
    <p><%= log.title %></p>
  </div>

  <div>
    <p>توسط: </p>
    <p><%= log.user %></p>
  </div>

  <a href="/logs/<%= log.id %>">بیشتر</a>
</div>