<div id="sideBar-container">
  <h2>آیفون استور</h2>

  <a href="/checks">چک ها</a>
  <a href="/checks/sell">فروش چک</a>
  <a href="/buyers">خریدار ها</a>
  <a href="/logs">سوابق</a>
  <a href="/reports">گزارش</a>
  <a href="/logout">خروج</a>
</div>