<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <%- include("../templates/header.ejs", {title : "آیفون استور", css : "homePage"}) %>
</head>
<body>
  <%- include("../templates/sideBar.ejs") %>
  <div id="check-container">
    <div>
      <h1>خریدار ها</h1>
      <a href="/buyers/new">ثبت خریدار</a>
    </div>
    <% if(buyers[0]){ %>
      <% buyers.forEach(buyer => { %>
        <%- include("../templates/buyerTemplate.ejs", {buyer}) %>
      <% }) %>
    <% }else{ %>
      <div class="err">خریداری یافت نشد.</div>
    <% } %>
  </div>
</body>
</html>